// Place all the styles related to the TwoFactorAuthentications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.otp-digit-fields-container {

  display: flex;
  margin-bottom: 1rem;

  input {
    width: 35px;
    height: 40px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 200;
    margin: 2px;
  }

}